<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Sistema Bancário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema Bancário</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-info">Conta criada com sucesso!</div>
            </div>
            <div class="card-header">
                <h2 class="text-center">Criar Nova Conta</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/admin/criar-conta}" th:object="${contaBancaria}">

                    <div class="form-group mb-3">
                        <label class="form-label">Titular</label>
                        <input class="form-control"
                               id="titular"
                               name="titular"
                               placeholder="Informe o titular"
                               th:field="*{titular}"
                               type="text"
                               required
                        />
                        <p th:errors="*{titular}" class="text-danger"
                           th:if="${#fields.hasErrors('titular')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Número da Conta</label>
                        <input class="form-control"
                               id="numeroConta"
                               name="numeroConta"
                               placeholder="Informe o número da conta do titular"
                               th:field="*{numeroConta}"
                               type="text"
                               required
                        />
                        <p th:errors="*{numeroConta}" class="text-danger"
                           th:if="${#fields.hasErrors('numeroConta')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Saldo</label>
                        <input class="form-control"
                               id="saldo"
                               name="saldo"
                               placeholder="Informe o saldo inicial"
                               th:field="*{saldo}"
                               type="number"
                               step="0.01"
                               disabled
                        />
                        <p th:errors="*{saldo}" class="text-danger"
                           th:if="${#fields.hasErrors('saldo')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control"
                               id="email"
                               name="email"
                               placeholder="Informe o email do titular"
                               type="email"
                               required
                        />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Senha</label>
                        <input class="form-control"
                               id="senha"
                               name="senha"
                               placeholder="Informe a senha do titular"
                               type="password"
                               required
                        />
                    </div>

                    <div class="form-group mb-3">
                        <button class="btn btn-primary" type="submit">Criar Conta</button>
                        <span><a href="/" th:href="@{/admin/listar-contas}">Listar Contas</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('saldo').addEventListener('input', function (event) {
        const input = event.target;
        if (input.value < 0) {
            input.value = '';
            alert('O saldo inicial não pode ser negativo.');
        }
    });
</script>
</body>
</html>